<p id="notice"><%= notice %></p>

<p>
  <strong>Anime:</strong>
  <%= @episode.anime_id %>
</p>

<p>
  <strong>Ep num:</strong>
  <%= @episode.ep_num %>
</p>

<p>
  <strong>Link:</strong>
  <%= @episode.link %>
</p>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
