<%= form_with(model: anime) do |form| %>
  <% if anime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(anime.errors.count, "error") %> prohibited this anime from being saved:</h2>

      <ul>
        <% anime.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :api_id %>
    <%= form.text_field :api_id %>
  </div>

  <div class="field">
    <%= form.label :anime_title %>
    <%= form.text_field :anime_title %>
  </div>

  <div class="field">
    <%= form.label :mal_id %>
    <%= form.number_field :mal_id %>
  </div>

  <div class="field">
    <%= form.label :anime_image %>
    <%= form.text_field :anime_image %>
  </div>

  <div class="field">
    <%= form.label :episode_count %>
    <%= form.number_field :episode_count %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.text_field :score %>
  </div>

  <div class="field">
    <%= form.label :synopsis %>
    <%= form.text_field :synopsis %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
