<p id="notice"><%= notice %></p>

<h1>Animes</h1>

<table>
  <thead>
    <tr>
      <th>Api</th>
      <th>Anime title</th>
      <th>Mal</th>
      <th>Anime image</th>
      <th>Episode count</th>
      <th>Status</th>
      <th>Score</th>
      <th>Synopsis</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animes.each do |anime| %>
      <tr>
        <td><%= anime.api_id %></td>
        <td><%= anime.anime_title %></td>
        <td><%= anime.mal_id %></td>
        <td><%= anime.anime_image %></td>
        <td><%= anime.episode_count %></td>
        <td><%= anime.status %></td>
        <td><%= anime.score %></td>
        <td><%= anime.synopsis %></td>
        <td><%= anime.genre %></td>
        <td><%= link_to 'Show', anime %></td>
        <td><%= link_to 'Edit', edit_anime_path(anime) %></td>
        <td><%= link_to 'Destroy', anime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anime', new_anime_path %>
