<p id="notice"><%= notice %></p>

<p>
  <strong>Api:</strong>
  <%= @anime.api_id %>
</p>

<p>
  <strong>Anime title:</strong>
  <%= @anime.anime_title %>
</p>

<p>
  <strong>Mal:</strong>
  <%= @anime.mal_id %>
</p>

<p>
  <strong>Anime image:</strong>
  <%= @anime.anime_image %>
</p>

<p>
  <strong>Episode count:</strong>
  <%= @anime.episode_count %>
</p>

<p>
  <strong>Status:</strong>
  <%= @anime.status %>
</p>

<p>
  <strong>Score:</strong>
  <%= @anime.score %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @anime.synopsis %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @anime.genre %>
</p>

<%= link_to 'Edit', edit_anime_path(@anime) %> |
<%= link_to 'Back', animes_path %>
